body {
	background-color:#eee
}

a {
	color:#aaa
}

a:hover,a:focus {
	color:#333;
	text-decoration:none
}

.content-wrapper {
	margin:0 auto;
	max-width:480px;
	overflow:hidden
}

.display-none {
	display:none
}

.menu-wrapper {
	background-color:#FFF;
	color:#333;
	height:auto;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:1
}

.top-header-container {
	border-bottom:1px solid #ddd
}